* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs .tab a {
	padding: 0;
}

.active {
	background: #ee6e73;
	transform: 3s;
}

.active a {
	color: white !important;
}

.btn {
	background: #ee6e73;
	color: white;
	width: 100px;
	height: 30px;
}