<div>

	<ul class="tabs">
		<li class="tab" ng-repeat="day in  $ctrl.days" ng-class="{active : $ctrl.activeTab === day}"
		    ng-click="$ctrl.activeTab = day">
			<a href="">{{day}}
				<span ng-show="$ctrl.counter.length">/ {{$ctrl.countTasksByDay(day)}}</span>
			</a>
		</li>
	</ul>

	<div ng-repeat="task in $ctrl.allTasks | tasksFilter : $ctrl.activeTab" class="task">
		<label class="task__text">
			<input type="checkbox" class="filled-in" ng-model="task.done" ng-change="$ctrl.changeTaskDone(task._id, task.done)
			"/>
			<span class="text">{{task.text}}</span>
		</label>
		<button ng-click="$ctrl.deleteTask(task._id)" class="btn task__btn-delete">Dell</button>
	</div>


	<div class="col s4">
		<input type="text" ng-model="$ctrl.task.text">
		<button ng-click="$ctrl.addNewTask($ctrl.task.text); $ctrl.task.text = ''" class="btn">Add</button>
	</div>


</div>