<div>

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s1" ng-repeat="day in  $ctrl.days" ng-class="{active : $ctrl.activeTab === day}" ng-click="$ctrl.activeTab = day">

					<a href="#test1">{{day}}
						<span>/{{$ctrl.countTask(day)}}</span>
					</a>

				</li>
			</ul>
		</div>
	</div>

	<div>
		<div class="row">
			<p ng-repeat="task in $ctrl.allTasks | tasksFilter : $ctrl.activeTab">
				<label>
					<input type="checkbox" class="filled-in" ng-model="task.done" ng-checked="$ctrl.changeTaskDone(task._id, task.done)" />
					<span></span>
				</label>
				<span>{{task.text}}</span>
				<button ng-click="$ctrl.deleteTask(task._id)">Dell</button>
			</p>
		</div>
		<div class="col s4">
			<input type="text" ng-model="$ctrl.task.text">
			<button ng-click="$ctrl.addNewTask($ctrl.task.text); $ctrl.task.text = ''" class="btn">Add</button>
		</div>
	</div>

</div>