<div>

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s1" ng-repeat="day in  $ctrl.days" ng-class="{active : $ctrl.activeTab === day}"
				    ng-click="$ctrl.tasksFilter (day); $ctrl.activeTab = day">
					<a href="#test1">{{day}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div>
		<div class="row">
			<p ng-repeat="task in $ctrl.allTasks | tasksFilter : $ctrl.dayFilter">
				<span>{{task.task}}</span>
			</p>
		</div>
		<div class="col s4">
			<input type="text" ng-model="$ctrl.task.text">
			<button ng-click="$ctrl.addNewTask($ctrl.task.text)" class="btn">Add</button>
		</div>
	</div>

</div>