<div>
    <form>
        <input type="text" ng-model="todo" size="30" placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add" ng-click="$ctrl.addObjUser(todo)">
    </form>

    <!-- <div>
        <input type="text" ng-model="name">
        <input type="text" ng-model="log">
        <button ng-click="$ctrl.addObjUser(name,log)">Add</button>
    </div> -->

    <ul ng-repeat=" task in  $ctrl.allTask">
        <li>
            {{task.todo}}
        </li>
    </ul>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a href="#test1">Test 1</a>
                </li>
                <li class="tab col s3">
                    <a class="active" href="#test2">Test 2</a>
                </li>
                <li class="tab col s3 ">
                    <a href="#test3">Test 3</a>
                </li>
                <li class="tab col s3">
                    <a href="#test4">Test 4</a>
                </li>
            </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
    </div>
</div>