* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

menu {
	padding: 0;
}

nav ul a.active {
	background-color: rgba(0,0,0,0.1);
}

.tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs .tab {
	width: 14%;
}

.tabs .tab a {
	padding: 0;
}

.active {
	background: #ee6e73;
}

.tabs .tab.active a{
	color: white;
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
}

.task__text {
	width: 100%;
	color: #000;
}