<h2 class="title">Your Settings</h2>

<form class="formCabinet">
    <div class=" form-block">
        <p>NickName</p>
        <input id="nickName" type="text" name="nickName" ng-model="$ctrl.user.nickName" ng-pattern="$ctrl.nickName" placeholder="add your own nickName">
        <span ng-show="formCabinet.nickName.$error.pattern" class="error"> please add correct nickName</span>
    </div>

    <div class=" form-block block-img">
        <p>Profile picture</p>
        <span>{{$ctrl.nameImg}}</span>
        <input id="urlPicture" type="text" ng-model="$ctrl.user.urlPicture" placeholder="url or profile picture">
        <input id="picture" type="file" ng-model="$ctrl.user.files" file-model="$ctrl.user.files" accept="image/* ">
    </div>
    <div class="picture">
        <img ng-src="{{src}}">
    </div>
    <div class=" form-block ">
        <p>Short bio about you</p>
        <textarea rows="12 " cols="12 " ng-model="$ctrl.user.bio" placeholder="add short bio about you"></textarea>
    </div>
    <div class="form-block ">
        <p>Change password</p>
        <input id="new" placeholder="new password " name="password " ng-model="$ctrl.user.password " type="password " ng-pattern="$ctrl.pass ">
        <span ng-show="formCabinet.password.$error.pattern " class="error "> please add correct password</span>
    </div>
    <button class="btn " ng-click="$ctrl.addAdditionalInfo($event, $ctrl.user) "> Update Settings</button>
    <div>
        <a href class="btn btn-default btn-lg " ng-click=" $ctrl.showYesNo()">Popup</a>
    </div>
</form>